<style>
  .world {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .worldBorder > i:nth-child(1) {
      position: absolute;
      top: 5px;
      right: 25px;
      cursor: pointer;
  }
  
  .worldBorder > i:nth-child(2) {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
  }
  
  .worldBorder {
    border: 2px solid #f0f;
    border-radius: 5px;
    position: relative;
  }
  
  .world h5 {
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .room {
    text-align: center;
  }

  .edit-btn {
    cursor: pointer;
    margin-right: 5px;
    margin-top: 4px;
  }
</style>

<div class="row">
    <div class="page-header col-md-12">
        <h3>
            Worlds
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="world col-xs-12 col-sm-6 col-md-3"
                ng-repeat="world in places.worlds track by world.id">
                
                <div class="worldBorder" style="border-color: #{{world.color}};">
                    <i class="fa fa-edit"
                        style="color: {{app.getContrastColor(world.color)}}"
                        ng-show="places.isWorldOwner(world)"
                        ng-click="places.editWorld(world)"></i>

                    <i class="fa fa-eye"
                        style="color: {{app.getContrastColor(world.color)}}"
                        popover-trigger="mouseenter"
                        popover-placement="bottom" 
                        uib-popover="{{world.description}}"></i>
                    
                    <h5 style="background-color: #{{world.color}}; color: {{app.getContrastColor(world.color)}}">{{world.name}}</h5>
                
                    <div class="room"
                      ng-repeat="room in world.rooms track by room.id"
                      ng-click="places.jumpToRoom(room.id)"
                      ng-show="room.id">
                    
                        <a href="#/room/{{room.id}}">{{room.name}}</a>
                        <i class="edit-btn fa fa-edit pull-right" ng-show="places.isWorldOwner(world)" ng-click="places.editRoom(room.id)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="well">
            <h4>Create a New World</h4>

            <form class="form-horizontal" ng-submit="places.createWorld()">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="name" name="name" class="form-control" ng-model="places.newWorld.name" />
                    </div>
                    <label for="name" class="col-sm-2 control-label">Color</label>
                    <div class="col-sm-4">
                        <input colorpicker type="text" class="form-control" ng-model="places.newWorld.color"  />
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea id="description" name="description" class="form-control" ng-model="places.newWorld.description" ></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <input type="submit" value="Create World" class="btn btn-primary" />
                        <i class="fa fa-spin fa-spinner" ng-show="places.pendingCreate"></i>
                    </div>
                </div>

                <div class="form-group" ng-show="places.createWorldError">
                  <div class="col-xs-12">
                    <div class="alert alert-danger">
                      {{places.createWorldError}}
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>