<style>
  .character {
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .character h5 {
    padding: 2px;
    padding-bottom: 5px;
    margin: 0px;
    margin-bottom: 5px;
    color: white;
  }
  
  .room {
    text-align: center;
  }
</style>

<div class="page-header">
    <h1>Dashboard <h3>{{profile.username}}</h3></h1>
</div>

<div class="row">

    <!-- Characters -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="character"
          style="border: 2px solid #{{char.worldColor}}; border-radius: 5px;";
          ng-repeat="char in profile.characters track by char.id"
          ng-click="profile.jumpToRoom(char.room)">
        
        <h5 style="background-color: #{{char.worldColor}}; color: {{app.getContrastColor(char.worldColor)}}">{{char.name}}</h5>
        
        <div class="room">
          {{char.roomName}}<br/>
          <b>{{char.worldName}}</b>
        </div>
      </div>
    </div>
    
    <!-- New poses -->
    <div class="col-xs-12 col-sm-8 col-md-9">
      <div ng-hide="newPoses.length == 0">
        <i>There are no new poses</i>
      </div>
    </div>
</div>