<style>
  .character {
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .character h5 {
    padding: 2px;
    padding-bottom: 5px;
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .room {
    text-align: center;
    position: relative;
  }
  
  .room i {
    position: absolute;
    top: 30%;
    right: 10px;
  }
  
  .charTitle h5 {
    position: relative;
  }
  
  .charTitle h5 i {
    position: absolute;
    right: 10px;
  }
  
  .pose {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #ddd;
  }
  
  .pose:nth-child(even) {
    background-color: #eee;
  }
  
  .poseHead {
    font-weight: bold;
  }
  
  .poseWorld {
    padding: 2px;
  }
  
  .poseBody {
    
  }
</style>

<div class="page-header">
    <h1>Dashboard <h3>{{profile.username}}</h3></h1>
</div>

<div class="row">

    <!-- Characters -->
    <div class="col-xs-12 col-sm-4 col-md-3" ng-hide="profile.characters">
      <i class="fa fa-spin fa-spinner"></i>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3" ng-show="profile.characters">
      <div class="character"
          style="border: 2px solid #{{char.worldColor}}; border-radius: 5px;";
          ng-repeat="char in profile.characters track by char.id">
        
        <div class="charTitle"
              ng-click="profile.jumpToCharacter(char.id)">
          <h5>{{char.name}} <i class="fa fa-eye"></i></h5>
        </div>
            
        <div class="room"
              style="background-color: #{{char.worldColor}}; color: {{app.getContrastColor(char.worldColor)}}"
              ng-click="profile.jumpToRoom(char.room)">
          
              {{char.roomName}}<br/>
              <b>{{char.worldName}}</b>
              <i class="fa fa-arrow-right"></i>
        </div>
      </div>
      
      <div style="text-align: center;">
        <a id="createCharacterBtn" ng-click="profile.openCreateCharacter()" style="cursor: pointer">Create a New Character</a>
      </div>
    </div>
    
    <!-- New poses -->
    <div class="col-xs-12 col-sm-8 col-md-9" ng-hide="profile.newPoses">
      <i class="fa fa-spin fa-spinner"></i>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9" ng-show="profile.newPoses">
      <div ng-hide="profile.newPoses.length" class="alert alert-info">
        <i>There are no new poses</i>
      </div>
      
      <div class="pose" ng-repeat="pose in profile.newPoses track by pose.id">
        <h5 class="poseHead">
          {{pose.characterName}} 
          <small>{{pose.timestamp | date:'medium'}}</small>
          <span class="poseWorld" style="background-color: #{{pose.color}}; color: {{app.getContrastColor(pose.color)}};">{{pose.roomName}}</span>
        </h5>
        <p class="poseBody">
          {{pose.text}}
        </p>
      </div>
    </div>
</div>