<style>
  body {
    padding-top: 60px;
  }
  
  .roomInfo {
    border: 2px solid #f0f;
    border-radius: 10px;
  }
  
  .page-header {
    border-radius: 5px;
  }
  
  .page-header h3 {
      padding: 5px;
  }
  
  .playerChar {
    font-weight: bold;
  }
  
  .moreInfo {
    cursor: pointer;
  }
  
  .pose {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #ddd;
  }
  
  .pose:nth-child(even) {
    background-color: #eee;
  }
  
  .poseHead {
    font-weight: bold;
  }
  
  .poseBody {
    
  }
  
  .clickable {
    cursor: pointer;
  }
  
</style>

  <div class="row">
    <div class="page-header col-md-12" style="background-color: #{{room.world.color}};">
      <h3 style="color: {{app.getContrastColor(room.world.color)}}">
        {{room.info.name}} 
        <small style="color: {{app.getContrastColor(room.world.color)}}">[{{room.world.name}}]</small>
      </h3>
    </div>
  </div>
  
  <div class="row">
    
    <!-- Poses -->
    <div class="col-xs-12 col-sm-8 col-md-9">
      <div class="row" ng-hide="room.playerCharacters.length == 0">
        <div class="col-xs-12">
          <form ng-submit="room.sendPose()">
            <input type="hidden" ng-model="room.poseData.room" />
            <input type="hidden" ng-model="room.poseData.character" />
            
            <div class="form-group">
              <div class="col-xs-12 clickable"
                    ng-click="room.bShowWritePose = !room.bShowWritePose">
                <label for="poseText">Write a Pose</label>
                <i class="fa clickable" 
                    ng-class="{'fa-caret-up': room.bShowWritePose, 'fa-caret-down': !room.bShowWritePose}"></i>
              </div>
            </div>
            
            <div class="form-group" ng-hide="!room.bShowWritePose">
              <div class="col-xs-12 col-sm-8 col-md-10">
                <textarea id="poseText" class="form-control" rows="3"
                          ng-model="room.poseData.pose"></textarea>
              </div>
              
              <div class="col-xs-12 col-sm-4 col-md-2">
                <select ng-model="room.selectedCharacter"
                        ng-options="character as character.name for character in room.playerCharacters track by character.id">
                </select><br/>
                
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="pose" ng-repeat="pose in room.poses track by pose.id">
            <h5 class="poseHead">{{pose.characterName}} <small>{{pose.timestamp | date:'medium'}}</small></h5>
            <p class="poseBody">
              {{pose.text}}
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Characters -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <h4>Who's Here?</h4>
            <div ng-repeat="char in room.characters track by char.id">
              <h5>
                <span ng-class="{playerChar: $scope.app.getUserInfo().id == char.ownerId}">{{char.name}}</span>
                <i class="fa fa-search moreInfo"
                    popover-trigger="mouseenter"
                    popover-placement="bottom" 
                    uib-popover="{{char.description}}"></i>
              </h5>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" ng-hide="room.missingCharacters == 0">
        <div class="col-xs-12">
          <h5>Relocate a Character</h5>
          
          <form ng-submit="room.relocateCharacter()">
          <div class="form-group">
            <div class="col-xs-12 col-md-8">
              <select
                class="form-control"
                ng-model="room.characterToMove"
                ng-options="character as character.name for character in room.missingCharacters track by character.id">>
                
              </select>
            </div>
            
            <div class="col-xs-12 col-md-4">
              <button type="submit" class="btn btn-primary">Relocate</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>