<style>
  body {
    padding-top: 60px;
  }
  
  .roomInfo {
    border: 2px solid #f0f;
    border-radius: 10px;
  }
  
  .page-header {
    border-radius: 5px;
  }
  
  .page-header h3 {
      padding: 5px;
  }
  
  .playerChar {
    font-weight: bold;
  }
  
  .moreInfo {
    cursor: pointer;
  }
  
  .pose {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #ddd;
  }
  
  .pose:nth-child(even) {
    background-color: #eee;
  }
  
  .poseHead {
    font-weight: bold;
  }
  
  .poseBody {
    
  }
  
</style>

  <div class="page-header" style="background-color: #{{room.world.color}}; color: {{app.getContrastColor(room.world.color)}}">
    <h3>{{room.info.name}}</h3>
  </div>
  
  <div class="row">
    
    <!-- Poses -->
    <div class="col-xs-12 col-sm-8 col-md-9">
      <div class="pose" ng-repeat="pose in room.poses track by pose.id">
        <h5 class="poseHead">{{pose.characterName}} <small>{{pose.timestamp | date:'medium'}}</small></h5>
        <p class="poseBody">
          {{pose.text}}
        </p>
      </div>
    </div>
    
    <!-- Characters -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="well">
        <h4>Characters</h4>
        <div ng-repeat="char in room.characters track by char.id">
          <h5>
            <span ng-class="{playerChar: app.getUserInfo().id == char.ownerId}">{{char.name}}</span>
            <i class="fa fa-info-circle moreInfo"
                popover-trigger="mouseenter"
                popover-placement="bottom" 
                uib-popover="{{char.description}}"></i>
          </h5>
        </div>
      </div>
    </div>
  </div>