{
	"db": {
		"host": "",
		"user": "",
		"password": "",
		"name": ""
	},

	"socket": {
		"ip": "127.0.0.1",
		"port": 3000,
		"allowedOrigins": ["localhost"]
	},

	"email": {
		"send": true,
		"module": "",
		"from": ""
	},

	"digest": {
		"rate": 10000
	}
}